.navbar {
    width: 100%;
    background: #000;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.navbar .logo:hover {
    text-decoration: none;
    color: white;
}
.topbar-logo {
    height: 45px;
    width: auto;
    object-fit: contain;
}