/* ------------------------------
   ESTILOS GENERALES
--------------------------------*/
body {
    background: #d5d8df;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

    /* ------------------------------
   NAVBAR
--------------------------------*/
.navbar {
    background: linear-gradient(90deg, #000000, #1b1b1b);
    padding: 10px 0;
}

.navbar .navbar-brand span {
    color: #ffffff;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.navbar .nav-link {
    color: #ffffff;
    font-weight: 500;
    margin-left: 15px;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #dbe9ff;
    transform: translateY(-1px);
}

.navbar .btn-danger {
    background-color: #ff4b4b;
    border: none;
}

.navbar .btn-danger:hover {
    background-color: #e63939;
}
    /* Caja blanca para el CRUD */
    .box-blanco {
        background: white;
        max-width: 900px;
        margin: auto;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    }
    /* ------------------------------
   FOOTER
--------------------------------*/
footer {
    background: #000000;
    color: #ffffff;
    padding: 15px 0;
    margin-top: 40px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}
