/* ------------------------------
   ESTILOS GENERALES
--------------------------------*/
body {
    background: #d5d8df;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* ------------------------------
   NAVBAR
--------------------------------*/
.navbar {
    background: linear-gradient(90deg, #000000, #1b1b1b);
    padding: 10px 0;
}

.navbar .navbar-brand span {
    color: #ffffff;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.navbar .nav-link {
    color: #ffffff;
    font-weight: 500;
    margin-left: 15px;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #dbe9ff;
    transform: translateY(-1px);
}

/* Botón cerrar sesión */
.navbar .btn-danger {
    background-color: #ff4b4b;
    border: none;
}

.navbar .btn-danger:hover {
    background-color: #e63939;
}

/* ------------------------------
   PERFIL DE USUARIO
--------------------------------*/
/* Imagen de perfil */
img.rounded-circle {
    width: 150px; /* Más proporcional dentro de la card */
    height: 150px;
    border: 3px solid #ffffff;
    background: #ffffff;
    margin: 0 auto 15px; /* Separación inferior */
    border-radius: 50pxs;
    transition: opacity 0.2s ease-in-out;
}

img:not([src]) {
    opacity: 0;
}

img.loaded {
    opacity: 1;
}

/* ------------------------------
   TARJETA DE PERFIL
--------------------------------*/
.card {
    width: 150%;          
    max-width: 520px;     /* Más angosta */
    margin: 20px auto;    /* Menos separación */
    padding: 40px 40px;   /* Más compacta */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;

    /* Más pequeña en altura */
    overflow-y: auto;


}

/* Título de la card */
.card h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Campos de formulario */
.form-control {
    font-size: 0.95rem;
    padding: 8px 10px;
    margin-bottom: 15px;
}

/* Botón de acción */
.btn-lg {
    padding: 10px 0;
    font-size: 1rem;
}

/* Centrar inputs tipo file */
input[type="file"] {
    display: block;
    margin: 10px auto 0;
}
/* ------------------------------
   FOOTER
--------------------------------*/
footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
}

footer  {
    margin: 0;
    letter-spacing: 0.5px;
}