/* ------------------------------
   ESTILOS GENERALES
--------------------------------*/
body {
    background: #d5d8df;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.img-producto {
    width: 100%;
    height: 350px;   /* aquí la agrandas */
    object-fit: contain; /* no se deforma */
}
/* Estilo para el selector de cantidad */
#cantidad {
    width: 60px; /* Ajusta el tamaño del campo */
    text-align: center; /* Centra el número dentro del campo */
    padding: 5px; /* Espaciado dentro del campo */
    font-size: 1rem; /* Tamaño de fuente */
}

/* Añadir espaciado entre el campo de cantidad y el botón de compra */
.mb-3 {
    margin-bottom: 1rem; /* Espaciado más grande entre elementos */
}
/* ------------------------------
   NAVBAR
--------------------------------*/
.navbar {
    background: linear-gradient(90deg, #000000, #1b1b1b);
    padding: 10px 0;
}

.navbar .navbar-brand span {
    color: #ffffff;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.navbar .nav-link {
    color: #ffffff;
    font-weight: 500;
    margin-left: 15px;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #dbe9ff;
    transform: translateY(-1px);
}

.navbar .btn-danger {
    background-color: #ff4b4b;
    border: none;
}

.navbar .btn-danger:hover {
    background-color: #e63939;
}
/* ------------------------------
   FOOTER
--------------------------------*/
footer {
    background: #000000;
    color: #ffffff;
    padding: 15px 0;
    margin-top: 40px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}
.btn-volver {
    display: inline-block;
    padding: 16px 35px;
    background: #000000;
    color: #ffffff !important;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
    }

    .btn-volver:hover {
        background: #333333;
    }